.divtable {
  height: 400px;
  width: 400px;
  margin-left: 200px;
  margin-top: 200px;
}

.mytable {
  width: 528px;
  margin-left: 35px;
  margin-top: 30px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #0a0a0a; /* This sets a 1-pixel solid border with a light gray color */
  padding: 8px; /* Add some padding to the table cells for better spacing */
  text-align: left; /* Align text to the left within cells */
}

th {
  background-color: #f2f2f2; /* Add a background color to header cells for better visibility */
}

.card-heading {
  margin-left: 40%;
  margin-top: 20px;
}

.heading-button {
  margin-top: -49px;
  margin-left: 75%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: 20px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
